@charset "utf-8";

/* Bazzi */
@font-face { 
    font-family: 'Helvetica';
    font-weight: 100; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-Th.otf') format('opentype');
}
@font-face { 
    font-family: 'Helvetica';
    font-weight: 200; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-UltLt.otf') format('opentype');
}
@font-face { 
    font-family: 'Helvetica';
    font-weight: 300; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-Lt.otf') format('opentype');
}
@font-face { 
    font-family: 'Helvetica';
    font-weight: 400; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-Roman.otf') format('opentype');
}
@font-face { 
    font-family: 'Helvetica';
    font-weight: 500; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-Md.otf') format('opentype');
}
@font-face { 
    font-family: 'Helvetica';
    font-weight: 900; 
    src: url('../fonts/Helvetica/HelveticaNeueLTPro-Blk.otf') format('opentype');
}

/* Pretendard */
@font-face { 
    font-family: 'Pretendard';
    font-weight: 100;
    src: local('Pretendard Thin'),
        url('../fonts/Pretendard/Pretendard-Thin.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-Thin.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Thin.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Thin.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 200;
    src: local('Pretendard ExtraLight'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 300;
    src: local('Pretendard Light'),
        url('../fonts/Pretendard/Pretendard-Light.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Light.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 400;
    src: local('Pretendard Regular'),
        url('../fonts/Pretendard/Pretendard-Regular.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-Regular.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 500;
    src: local('Pretendard Medium'),
        url('../fonts/Pretendard/Pretendard-Medium.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-Medium.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 600;
    src: local('Pretendard SemiBold'),
        url('../fonts/Pretendard/Pretendard-SemiBold.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-SemiBold.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 700;
    src: local('Pretendard Bold'),
        url('../fonts/Pretendard/Pretendard-Bold.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-Bold.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 800;
    src: local('Pretendard ExtraBold'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face { 
    font-family: 'Pretendard';
    font-weight: 900;
    src: local('Pretendard Black'),
        url('../fonts/Pretendard/Pretendard-Black.otf') format('opentype'),
        url('../fonts/Pretendard/Pretendard-Black.ttf') format('truetype'),
        url('../fonts/Pretendard/Pretendard-Black.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Black.woff2') format('woff2');
}