@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub {padding-top: 15rem; padding-bottom: 14rem;}
.sub:has(.about),
.sub:has(.template) {padding-top: 0; padding-bottom: 18rem;}

/* 서브 비쥬얼 */
.sub-title {text-align: center;}
.sub-title .tit01 {font-size: 1.6rem; letter-spacing: 0.2em; font-weight: 300; color: #CB0010; line-height: 1.25;}
.sub-title .tit02 {font-size: 5rem; font-weight: 700; line-height: 1.2; margin-top: 0.5rem;}
.sub-title .txt {font-size: 1.6rem; color: #666666; line-height: 1.25; margin-top: 2rem;}
.sub-title .btn {width: 25rem; margin: 2rem auto 0;}

.sub-visual.bg01{}

.sub-visual .tit-visual{}

.sub-visual .txt-visual{}

/* location */
.loc {display: flex; justify-content: flex-end; align-items: center;}
.loc ul {display: flex; align-items: center;}
.loc ul li {font-size: 1.4rem; color: #999999; line-height: 1.143;}
.loc ul li a {font-size: 1.4rem; color: #999999; line-height: 1.143; display: inline-block;}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 포트폴리오 */
.portfolio {margin-top: 6rem;}
.portfolio .btn-more {margin: 10rem auto 0;}
.portfolio .btn-wrap:has(.sm) {margin-top: -3.6rem;}
.portfolio .btn-wrap:has(.sm) + .view-wrap.v1 {margin-top: 5rem;}
.portfolio .view-wrap.v1 + .btn-wrap:has(.md) {margin-top: 13.5rem;}
.portfolio .btn-wrap .btn.sm {width: 13rem;}
.portfolio .btn-wrap .btn.md {width: 25rem;}

/* 서비스 */
.service {margin-top: 5rem;}
.service .btn.lg {width: 25rem;}
.service .service-swiper {margin-top: 8rem; width: 86rem; padding: 0 7rem; margin: 8rem auto 0; position: relative;}
.service .service-swiper .swiper .swiper-wrapper .swiper-slide {padding-top: 4.167%; background: url('../img/sub/bg_service_swiper.png') no-repeat center top; background-size: 100%; overflow: hidden; border-radius: 1.5rem;}
.service .service-swiper [class^='swiper-button-'] {width: 2.2rem; height: 3.3rem; margin-top: 0; transform: translateY(-50%); background-repeat: no-repeat; background-position: center; background-size: 100%;transition: all 0.3s;}
.service .service-swiper [class^='swiper-button-']::after {display: none;}
.service .service-swiper .swiper-button-prev {background-image: url('../img/icon/ic_service_prev_default.png'); left: 0;}
.service .service-swiper .swiper-button-next {background-image: url('../img/icon/ic_service_next_default.png'); right: 0;}
.service .merit-area {margin-top: 10rem;}
.service .merit-area ul {display: flex; align-items: flex-start; justify-content: space-between;}
.service .merit-area ul li img {width: 12rem; margin: 0 auto;}
.service .merit-area ul li .title {text-align: center; margin-top: 2rem; font-weight: 700; font-size: 2rem; line-height: 1.2;}
.service .merit-area ul li .text {text-align: center; margin-top: 1rem; font-size: 1.6rem; line-height: 1.5;}
.service .headline {text-align: center;}
.service .headline .title01 {font-size: 1.8rem; line-height: 1.1667;}
.service .headline .title02 {font-size: 4rem; line-height: 1.375; font-weight: 700; margin-top: 1rem;}
.service .headline .text {margin-top: 1.6rem; font-size: 1.8rem; line-height: 1.556;}
.service .cost {padding-top: 15rem; padding-bottom: 15rem;}
.service .cost .cost-package {margin-top: 5rem;;}
.service .cost .cost-package ul {display: flex; align-items: center; gap: 0 4.4rem; }
.service .cost .cost-package ul li {flex: none; width: calc(25% - 3.3rem); position: relative; border: 1px solid #E0E0E0; background-color: #ffffff; border-radius: 1.5rem; box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 0.1); padding: 4rem 3rem}
.service .cost .cost-package ul li.best {border-width: 0.3rem; padding: 3.8rem 2.8rem; }
.service .cost .cost-package ul li.best::before {content: "인기"; position: absolute; right: 0; top: 0; border-radius: 1.5rem; border-bottom-right-radius: 0; border-top-right-radius: 1rem; color: #ffffff; width: 8rem; text-align: center; line-height: 4rem;}
.service .cost .cost-package ul li img {width: 5rem;}
.service .cost .cost-package ul li img + .title {margin-top: 2rem;}
.service .cost .cost-package ul li .title { line-height: 1.4; font-size: 3rem; font-weight: 600;}
.service .cost .cost-package ul li .title strong {font-weight: 700; color: #CB0010;}
.service .cost .cost-package ul li .text {margin-top: 2.5rem; border-top: 1px solid #D4D4D4; padding-top: 2rem; font-size: 1.6rem; color: #666666;}
.service .cost .cost-package ul li .btn {margin-top: 6rem; width: 100%;}
.service .procedure {background-color: #2D2F2E; padding: 20rem 0 22rem;}
.service .procedure .headline .title01 {color: #FFFFFF; opacity: 0.6;}
.service .procedure .headline .title02 {color: #FFFFFF;}
.service .procedure .procedure-step {margin-top: 6rem;}
.service .procedure .procedure-step .bar {overflow: hidden;}
.service .procedure .procedure-step .bar p {line-height: 6rem; text-align: center; border-radius: 3rem; background-color: rgb(170, 170, 170, 0.8); font-size: 2rem; font-weight: 700; float: left;}
.service .procedure .procedure-step .bar p + p {margin-left: -3.215%;}
.service .procedure .procedure-step .bar p:nth-of-type(1) {width: 25.715%;}
.service .procedure .procedure-step .bar p:nth-of-type(2) {width: 54.643%;}
.service .procedure .procedure-step .bar p:nth-of-type(3) {width: 25.715%;}
.service .procedure .procedure-step .step-area {margin-top: 2rem;}
.service .procedure .procedure-step .step-area > ul {display: flex; gap: 0 2.5rem; }
.service .procedure .procedure-step .step-area > ul > li {width: calc(20% - 2rem); background-color: #ffffff; border-radius: 1.5rem; padding: 3rem 3rem 4.5rem; display: flex; flex-direction: column; min-height: 25rem;}
.service .procedure .procedure-step .step-area > ul > li .step {font-size: 1.5rem; line-height: 1.2; color: #CB0010;}
.service .procedure .procedure-step .step-area > ul > li .title {font-size: 2.5rem; line-height: 1.2; font-weight: 700; margin-top: 0.3rem;}
.service .procedure .procedure-step .step-area > ul > li ul {margin-top: 1.2rem; flex: 1 0;}
.service .procedure .procedure-step .step-area > ul > li ul li {font-size: 1.6rem; line-height: 1.625;}
.service .procedure .procedure-step .step-area > ul > li .result {margin-top: 2rem; border-top: 1px solid #D4D4D4; padding-top: 1rem; font-size: 1.6rem; color: #CB0010; line-height: 1.625;}
.service .procedure .procedure-step .step-area > ul > li .result a {font-weight: 700; text-decoration: underline; color: #CB0010}
.service .worth {padding-top: 15rem; position: relative;}
.service .worth::before {content: ""; width: 1px; height: 10rem; background-color: #959696; position: absolute; left: 50%; top: 0; transform: translateX(-50%);}
.service .worth .cient-area ul {display: flex; flex-wrap: wrap; gap: 3.5rem 3.6rem; margin-top: 8.5rem;}
.service .worth .cient-area ul li {width: calc(25% - 2.7rem); background-color: #FFFFFF; border-radius: 1rem; box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15); padding: 1.5rem 1.8rem;}
.service .worth .cient-area + .btn-wrap {margin-top: 10rem;}
.service .worth .btn-wrap .btn {width: 43.5rem;}

/* 서비스 > 홈페이지 */
.service .homepage-portfolio {margin-top: 15rem; padding-top: 15rem; padding-bottom: 15rem; background-color: #FFF8F8;}
.service .homepage-portfolio .gallery-wrap.v2 {margin-top: 5rem;}
.service .homepage-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 6.5rem;}
.service .cost .cost-package.red ul li .title strong {color: #CB0010;}
.service .cost .cost-package.red ul li.best {border-color: #CB0010;}
.service .cost .cost-package.red ul li.best::before {background-color: #CB0010;}

/* 서비스 > 템플릿 */
.service .template-portfolio {margin-top: 15rem; padding-top: 15rem; padding-bottom: 15rem; background-color: #FFFCF8;}
.service .template-portfolio .gallery-wrap.v2 {margin-top: 5rem;}
.service .template-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 6.5rem;}
.service .cost .cost-package.orange ul li .title strong {color: #F98D00;}
.service .cost .cost-package.orange ul li.best {border-color: #F98D00;}
.service .cost .cost-package.orange ul li.best::before {background-color: #F98D00;}

/* 서비스 > 수출 바우처 */
.service .voucher-portfolio {margin-top: 15rem; padding-top: 15rem; padding-bottom: 15rem; background-color: #F8FCFF;}
.service .voucher-portfolio .gallery-wrap.v2 {margin-top: 5rem;}
.service .voucher-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 6.5rem;}
.service .business {padding-top: 15rem; padding-bottom: 15rem;}
.service .business .type-area {margin-top: 5rem;}
.service .business .type-area ul {display: flex; flex-wrap: wrap; gap: 3rem 4.4rem;}
.service .business .type-area ul li {width: calc(25% - 3.3rem); display: flex; flex-direction: column; align-items: flex-start; justify-content: center; min-height: 8rem; justify-items: stretch; background-color: #ffffff; border: 1px solid #E0E0E0; border-radius: 1rem; box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.08); padding: 0 3.4rem;}
.service .business .type-area ul li p {font-size: 1.8rem; line-height: 1.223; padding-left: 3.6rem; background: url('../img/icon/ic_business_dot.png') no-repeat left center; background-size: 1.6rem;}
.service .business .type-area ul li p span {font-size: 1.6rem; line-height: 1.375; color: #888888;}
.service .business .type-area + .tbl-wrap {margin-top: 10rem;}
.service .voucher-procedure .procedure-step.hide-pad .step-area + .bar {margin-top: 5rem;}
.service .voucher-procedure .procedure-step.hide-pad .bar:nth-of-type(1) p {width: 100%;}
.service .voucher-procedure .procedure-step.hide-pad .step-area:nth-of-type(2) > ul > li {width: calc(25% - 1.875rem);}
.service .voucher-procedure .procedure-step.hide-pad .bar:nth-of-type(3) p:nth-of-type(1) {width: 65.358%;}
.service .voucher-procedure .procedure-step.hide-pad .bar:nth-of-type(3) p:nth-of-type(2) {width: 35.715%; margin-left: -1.073%;}
.service .voucher-procedure .procedure-step.hide-pad .step-area:nth-of-type(4) > ul > li {width: calc(33.334% - 1.667rem);}

/* 서비스 > 유지보수 */
.service .status {background-color: #FBF8FF; margin-top: 15rem; padding-top: 15rem; padding-bottom: 15rem;}
.service .maintain-cost .cost-package ul {flex-wrap: wrap; gap: 2rem 2rem;}
.service .maintain-cost .cost-package ul li {width: calc(33.3334% - 1.3334rem);}
.service .maintain-cost .cost-package ul li:nth-child(1),
.service .maintain-cost .cost-package ul li:nth-child(2) {width: calc(50% - 1rem)}
.service .maintain-cost .cost-package ul li.best {border-color: #9C43DF}
.service .maintain-cost .cost-package ul li.best::before {background-color: #9C43DF;}
.service .maintain-cost .cost-package ul li .title {font-size: 2.8rem; line-height: 1;}
.service .maintain-cost .cost-package ul li .title strong {color: #9C43DF; font-size: 3.8rem;}
.service .maintain-cost .cost-package ul li .title .unit {display: inline-block; font-size: 2.4rem;color: #9C43DF; font-weight: 400;}
.service .maintain-cost .cost-package ul li .text dl {display: flex; justify-content: space-between; font-size: 1.8rem;}
.service .maintain-cost .cost-package ul li .text dl + dl {margin-top: 1.3rem;}
.service .maintain-cost .cost-package ul li .text dl dt {color: #666666;}
.service .maintain-cost .cost-package ul li .text dl dd {color: #212121;}
.service .maintain-procedure .procedure-step .bar p:nth-of-type(1) {width: 41.429%;}
.service .maintain-procedure .procedure-step .bar p:nth-of-type(2) {width: 38.072%;}
.service .maintain-procedure .procedure-step .bar p:nth-of-type(3) {width: 26.915%;}
.service .maintain-procedure .procedure-step .step-area > ul > li {width: calc(25% - 1.2rem); min-height: 0;}
.service .status .list-wrap.v2 {height: 48rem; margin-top: 5rem;}
.service .status .list-wrap.v2 + .btn-wrap {margin-top: 5rem;}
.service .status .list-wrap.v2 + .btn-wrap .btn {width: 25rem;}

/* 주문/제작 > 템플릿 제작 */
.template {margin-top: 10rem;}
.template .btn-more {margin: 10rem auto 0;}
.template .view-wrap.v3 {margin-top: 10rem;}
.template .view-wrap.v3 + .tab-wrap {margin-top: 10rem;}
.template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box {background-color: #FAFAFA; padding: 5rem 5rem}
.template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .title {font-size: 1.6rem; font-weight: 600; color: #555555;}
.template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .title + .text {margin-top: 1rem;}
.template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .text {font-size: 1.6rem; color: #797979;}
.template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .text + .title {margin-top: 3rem;}

/* 주문/제작 > 간편 제작 */
.order {margin-top: 5rem;}
.order .video-area {max-width: 100rem; width: 100%; margin: 0 auto;}
.order .btn-wrap {margin: 5rem auto 0; max-width: 100rem;}
.order .btn-wrap .btn {flex: 1 0;}
.order .client {margin-top: 13rem; padding-top: 15rem; padding-bottom: 16rem; margin-bottom: -14rem; background-color: #FAFAFA;}
.order .client .headline {text-align: center;}
.order .client .headline .title01 {font-size: 1.8rem; line-height: 1.1667;}
.order .client .headline .title02 {font-size: 4rem; line-height: 1.2; font-weight: 800; margin-top: 0.5rem;}
.order .client .headline + .gallery-wrap {margin-top: 5rem;}
.order .inquiry-area {background-color: #FAFAFA; margin-top: 15rem; padding-top: 15rem; padding-bottom: 15rem;}
.order .inquiry-area + .client {background: none;}
.order .inquiry-area .title01 {font-size: 1.8rem; font-weight: 500; color: #CB0010; line-height: 1.167;}
.order .inquiry-area .title02 {font-size: 4rem; font-weight: 700; line-height: 1.2; margin-top: 0.5rem;}
.order .inquiry-area .form-group {margin-top: 5rem;}
.order .inquiry-area .agree-feedback {margin-top: 2rem; display: flex; align-items: flex-start; justify-content: space-between;}
.order .inquiry-area .agree-feedback .btn {width: 25rem;}

/* 고객센터 > 공지사항 */
.notice {margin-top: 5rem;}
.notice:has(.view-wrap.v2) {margin-top: 0;}
.notice .list-wrap {margin-top: 1rem;}
.notice .paging {margin-top: 8rem;}
.notice .view-wrap.v2 + .btn-wrap {margin-top: 5rem;}
.notice .view-wrap.v2 + .btn-wrap .btn {width: 25rem;}

/* 고객센터 > 자주 묻는 질문 */
.faq .acc-wrap {margin-top: 5rem; border-top: 0.2rem solid #333333;}
.faq .acc-wrap .acc-list {border-bottom: 1px solid #E0E0E0;}
.faq .acc-wrap .acc-list [data-click] {cursor: pointer;}
.faq .acc-wrap .acc-list .acc-tit {display: flex; align-items: flex-start; justify-content: flex-start; padding: 3rem 3.5rem; gap: 0 7rem;}
.faq .acc-wrap .acc-list .acc-tit::before {content: "Q"; color: #CB0010; font-size: 2.5rem; font-weight: 700; line-height: 1.134; flex: none;}
.faq .acc-wrap .acc-list .acc-tit .tit {font-size: 2rem; line-height: 1.4167;}
.faq .acc-wrap .acc-list .acc-cont {border-top: 1px solid #E0E0E0; background-color: #F7F7F7; padding: 3rem 3.5rem; overflow: hidden; display: none;;}
.faq .acc-wrap .acc-list .acc-cont::before {content: "A"; color: #CB0010; font-size: 2.5rem; line-height: 1.08; font-weight: 700; float: left; width: 1.8rem;}
.faq .acc-wrap .acc-list .acc-cont .txt {font-size: 1.8rem; margin-left: 7rem; float: left; width: calc(100% - 8.8rem)}
.faq .acc-wrap + .paging {margin-top: 11.5rem;}

/* 고객센터 > 문의하기 */
.inquiry {margin-top: 9rem;}
.inquiry .tit.v1 {margin-top: 5rem;}
.inquiry .tit.v1 + * {margin-top: 2rem;}
.inquiry .agree-feedback {margin-top: 2rem; display: flex; align-items: flex-start; justify-content: space-between;}
.inquiry .agree-feedback .btn {width: 25rem;}

/* 회사소개 > 회사소개 */
.about .visual {background: url('../img/sub/bg_about_pc.png') no-repeat center; background-size: cover; height: 70rem; display: flex; align-items: center; justify-content: center;}
.about .visual .container {flex: none; width: 100%;}
.about .visual .txt-visual01 {color: #ffffff; font-family: 'Helvetica'; font-size: 5rem; font-weight: 400;}
.about .visual .txt-visual02 {margin-top: 1rem; color: #ffffff; font-size: 3.5rem;}
.about .visual .txt-visual03 {margin-top: 2rem; color: #ffffff; font-size: 1.6rem; opacity: 0.7; line-height: 1.625;}
.about .about-article {margin-top: 15rem; display: flex; align-items: stretch;}
.about .about-article:nth-child(even) {flex-direction: row-reverse;}
.about .about-article .img-area {width: 67.6rem; border-radius: 1.5rem; height: 30rem; overflow: hidden;}
.about .about-article .img-area img {width: 100%; height: 100%; object-fit: cover;}
.about .about-article .text-area {flex: 1 0; display: flex; align-items: center; justify-content: center;}
.about .about-article .text-area .text01 {font-size: 1.6rem; color: #CB0010; line-height: 1.25; font-weight: 700;}
.about .about-article .text-area .text02 {font-size: 2.5rem; font-weight: 800; line-height: 1.4; margin-top: 2rem;}
.about .about-article .text-area .text03 {font-size: 1.6rem; line-height: 1.625; margin-top: 3rem;}
.about .about-article .text-area .text03 strong {text-decoration: underline;}

/* 회사소개 > 오시는 길 */
.directions {margin-top: 5rem;}
.directions .map-area {width: 100%; height: 0; padding-top: 50%; overflow: hidden; position: relative; border-radius: 1.5rem;}
.directions .map-area > * {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;}
.directions .map-info {margin-top: 3.5rem;}
.directions .map-info dl {display: flex; align-items: flex-start; justify-content: flex-start;}
.directions .map-info dl + dl {margin-top: 3rem;}
.directions .map-info dl dt {display: flex; align-items: center; justify-content: flex-start; width: 16rem; gap: 0 1.5rem}
.directions .map-info dl dt p {font-size: 2rem;}
.directions .map-info dl dd p {font-size: 2rem;}

@media (hover: hover) {
    /*-------------------------------------------------------------------
        @메뉴명
    -------------------------------------------------------------------*/
    /* 서비스 */
    .service .service-swiper .swiper-button-prev:hover {background-image: url('../img/icon/ic_service_prev_hover.png'); left: 0;}
    .service .service-swiper .swiper-button-next:hover {background-image: url('../img/icon/ic_service_next_hover.png'); right: 0;}
}

@media screen and (max-width: 1480px) {
    /* 서비스 */
    .service .cost .cost-package ul {flex-wrap: wrap; gap: 3rem 2rem;}
    .service .cost .cost-package ul li {width: calc(50% - 1rem);}
    .service .procedure .procedure-step {display: flex; gap: 0 2rem; align-items: stretch;}
    .service .procedure .procedure-step .bar {width: 6.5rem; float: none; display: flex; flex-direction: column;}
    .service .procedure .procedure-step .bar p {flex: none; display: flex; align-items: center; justify-content: center; line-height: 1.5; font-size: 1.8rem; float: none; width: 100%;}
    .service .procedure .procedure-step .bar p + p {margin-left: 0;}
    .service .procedure .procedure-step .bar p:nth-of-type(1) {height: 25%; width: 100%;}
    .service .procedure .procedure-step .bar p:nth-of-type(2) {height: 55%; width: 100%; margin: -2.01em 0;}
    .service .procedure .procedure-step .bar p:nth-of-type(3) {height: 25%; width: 100%;}
    .service .procedure .procedure-step .step-area {margin-top: 0; flex: 1 0;}
    .service .procedure .procedure-step .step-area > ul {flex-direction: column; gap: 2rem 0; }
    .service .procedure .procedure-step .step-area > ul > li {width: 100%;}

    /* 서비스 > 수출 바우처 */
    .service .business .type-area ul {gap: 2rem 2.1rem;}
    .service .business .type-area ul li {width: calc(33.3334% - 1.4rem); padding: 0 3rem;}
    .service .business .type-area ul li p {padding-left: 2.9rem;}
    .service .voucher-procedure .procedure-step.show-pad {display: flex !important;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(1) {height: 57%; width: 100%;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(2) {height: 31%; width: 100%; margin: -2.01em 0;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(3) {height: 15.6%; width: 100%;}

    /* 서비스 > 유지보수 */
    .service .maintain-cost .cost-package ul li {width: 100%}
    .service .maintain-cost .cost-package ul li:nth-child(1),
    .service .maintain-cost .cost-package ul li:nth-child(2) {width: calc(50% - 1rem)}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(1) {height: 35%; width: 100%;}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(2) {height: 48%; width: 100%; margin: -2.01em 0;}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(3) {height: 26.1%; width: 100%;}

    /* 회사소개 > 회사소개 */
    .about .about-article .img-area {width: 50.5rem; height: 22.5rem;}
}


@media screen and (max-width: 1024px) {
    /*-------------------------------------------------------------------
        @공통
    -------------------------------------------------------------------*/
    .sub {padding-top: 12rem; padding-bottom: 12rem;}
    .sub:has(.about),
    .sub:has(.template) {padding-bottom: 20rem;}

    /* 서브 비쥬얼 */
    .sub-title .tit01 {font-size: 2.4rem;}
    .sub-title .tit02 {font-size: 5.5rem; line-height: 1.182;}
    .sub-title .txt {font-size: 2.8rem; line-height: 1.358;}

    /* location */
    .loc ul li {font-size: 2.2rem; line-height: 1.182;}
    .loc ul li a {font-size: 2.2rem; line-height: 1.182;}

    /*-------------------------------------------------------------------
        @메뉴명
    -------------------------------------------------------------------*/
    /* 포트폴리오 */
    .portfolio {margin-top: 5rem;}
    .portfolio .btn-wrap:has(.sm) {display: none;}
    .portfolio .btn-wrap:has(.sm) + .view-wrap.v1 {margin-top: 0;}
    .portfolio .view-wrap.v1 + .btn-wrap:has(.md) {margin-top: 15rem;}
    .portfolio .btn-wrap .btn.md {width: calc(100% - 8rem);}

    /* 서비스 */
    .service .headline .title01 {font-size: 2.4rem; line-height: 1.25;}
    .service .headline .title02 {font-size: 5.5rem; line-height: 1.182; margin-top: 0;}
    .service .headline .text {margin-top: 1.5rem; font-size: 2.8rem; line-height: 1.358;}
    .service .btn.lg {width: 32rem;}
    .service .service-swiper {width: 100%; padding: 0 4.5rem; margin: 10rem auto 0;}
    .service .service-swiper [class^='swiper-button-'] {width: 2.2rem; height: 4.4rem;}
    .service .merit-area {margin-top: 8rem;}
    .service .merit-area ul {flex-wrap: wrap; gap: 5rem 0;}
    .service .merit-area ul li {width: 50%; padding: 0 3rem;}
    .service .merit-area ul li img {width: 15rem;}
    .service .merit-area ul li .title {font-size: 3rem;}
    .service .merit-area ul li .text {font-size: 2.6rem; line-height: 1.308;}
    .service .cost {padding-bottom: 18rem;}
    .service .cost .cost-package ul li {padding: 4rem 2rem}
    .service .cost .cost-package ul li.best {padding: 3.8rem 1.8rem; }
    .service .cost .cost-package ul li.best::before {border-radius: 2.5rem; border-top-right-radius: 1.2rem; border-bottom-right-radius: 0; width: 10rem; line-height: 5rem; font-size: 2.2rem;}
    .service .cost .cost-package ul li img {width: 5.2rem;}
    .service .cost .cost-package ul li img + .title {margin-top: 2rem;}
    .service .cost .cost-package ul li .title {font-size: 2.8rem;}
    .service .cost .cost-package ul li .title strong {font-size: 3.6rem;}
    .service .cost .cost-package ul li .text {margin-top: 2rem; font-size: 2.4rem;}
    .service .cost .cost-package ul li .btn {margin-top: 3rem;}
    .service .procedure .procedure-step {gap: 0 2.5rem;}
    .service .procedure .procedure-step .bar {width: 8.5rem;}
    .service .procedure .procedure-step .bar p {font-size: 2.4rem; border-radius: 4.5rem;}
    .service .procedure .procedure-step .bar p:nth-of-type(1) {height: 26%; width: 100%;}
    .service .procedure .procedure-step .bar p:nth-of-type(2) {height: 56%; width: 100%; margin: -2.4em 0;}
    .service .procedure .procedure-step .bar p:nth-of-type(3) {height: 26%; width: 100%;}
    .service .procedure .procedure-step .step-area > ul > li {flex-direction: row; min-height: 0; flex-wrap: wrap; position: relative; justify-content: flex-end; padding: 3.5rem 3rem;}
    .service .procedure .procedure-step .step-area > ul > li .step {position: absolute; left: 3rem; top: 3.5rem; font-size: 2.4rem; line-height: 1.25;}
    .service .procedure .procedure-step .step-area > ul > li .title {position: absolute; left: 3rem; top: 7rem; font-size: 3rem; margin-top: 0;}
    .service .procedure .procedure-step .step-area > ul > li ul {margin-top: 0; width: 55%; flex: none; min-height: 12.8rem;}
    .service .procedure .procedure-step .step-area > ul > li ul li {font-size: 2.6rem; line-height: 1.385;}
    .service .procedure .procedure-step .step-area > ul > li .result {width: 100%; padding-top: 2rem; font-size: 2.6rem; line-height: 1.154;}
    .service .worth .cient-area ul {gap: 2.2rem; margin-top: 5rem;}
    .service .worth .cient-area ul li {width: calc(50% - 1.1rem); padding: 1.5rem 2rem;}
    .service .worth .cient-area + .btn-wrap {margin-top: 5rem;}
    .service .worth .btn-wrap .btn {width: 32rem;}

    /* 서비스 > 홈페이지 */
    .service .homepage-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 10rem;}

    /* 서비스 > 템플릿 */
    .service .template-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 10rem;}

    /* 서비스 > 수출 바우처 */
    .service .business .type-area ul {gap: 2rem 2rem;}
    .service .business .type-area ul li {width: calc(50% - 1rem); padding: 1.5rem 3rem;}
    .service .business .type-area ul li p {padding-left: 2.6rem; background-size: 1.6rem; font-size: 2.4rem}
    .service .business .type-area ul li p span {font-size: 2.2rem;}
    .service .voucher-portfolio .gallery-wrap.v2 + .btn-wrap {margin-top: 10rem;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(1) {height: 55.5%;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(2) {height: 30%;}
    .service .voucher-procedure .procedure-step.show-pad .bar p:nth-of-type(3) {height: 19.1%;}

    /* 서비스 > 유지보수 */
    .service .maintain-cost .cost-package ul li {width: 100%}
    .service .maintain-cost .cost-package ul li:nth-child(1),
    .service .maintain-cost .cost-package ul li:nth-child(2) {width: 100%}
    .service .maintain-cost .cost-package ul li .text dl {font-size: 2.4rem;}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(1) {height: 38%;}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(2) {height: 46%;}
    .service .maintain-procedure .procedure-step .bar p:nth-of-type(3) {height: 29.5%;}
    .service .status .list-wrap.v2 {height: 48.5rem;}
    .service .status .list-wrap.v2 + .btn-wrap .btn {width: 32rem;}

    /* 주문/제작 > 템플릿 제작 */
    .template .btn-more {margin: 15rem auto 0;}
    .template .view-wrap.v3 {margin-top: 5rem;}
    .template .view-wrap.v3 + .tab-wrap {margin-top: 10rem;}
    .template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box {padding: 3rem 3rem}
    .template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .title {font-size: 2.4rem;}
    .template .tab-wrap.v2 .tab-cont-wrap .tab-cont .info-box .text {font-size: 2.4rem;}
    .template .tab-wrap.v2 .tab-cont-wrap .tab-cont .qna-area {margin-top: 0;}
    .template .tab-wrap.v2 .tab-cont-wrap .tab-cont .qna-area .list-wrap.v3 table .ta-l {padding: 0;}

    /* 주문/제작 > 간편 제작 */
    .order .client {margin-top: 15rem; padding-bottom: 20rem; margin-bottom: -12rem;}
    .order .client .headline .title01 {font-size: 2.4rem; line-height: 1.25;}
    .order .client .headline .title02 {font-size: 5rem;}
    .order .inquiry-area { padding-top: 12rem;}
    .order .inquiry-area .title01 {font-size: 2.4rem; line-height: 1.25; text-align: center;}
    .order .inquiry-area .title02 {font-size: 5rem; text-align: center;}
    .order .inquiry-area .agree-feedback {margin-top: 3rem; flex-direction: column; gap: 6rem 0;}
    .order .inquiry-area .agree-feedback .btn {width: 100%;}

    /* 고객센터 > 자주 묻는 질문 */
    .faq .acc-wrap {margin-top: 8rem;}
    .faq .acc-wrap .acc-list .acc-tit {padding: 3rem 2rem; gap: 0 2rem;}
    .faq .acc-wrap .acc-list .acc-tit::before {line-height: 1.36;}
    .faq .acc-wrap .acc-list .acc-tit .tit {font-size: 2.4rem; line-height: 1.4167;}
    .faq .acc-wrap .acc-list .acc-cont {padding: 3rem 2rem;}
    .faq .acc-wrap .acc-list .acc-cont::before {line-height: 1.2;}
    .faq .acc-wrap .acc-list .acc-cont .txt {font-size: 2.2rem; margin-left: 2rem; width: calc(100% - 3.8rem)}
    .faq .acc-wrap + .paging {margin-top: 15rem;}

    /* 고객센터 > 문의하기 */
    .inquiry .agree-feedback {margin-top: 3rem; flex-direction: column; gap: 6rem 0;}
    .inquiry .agree-feedback .btn {width: 100%;}

    /* 회사소개 > 회사소개 */
    .about .visual {background: url('../img/sub/bg_about_mobile.png') no-repeat center; background-size: cover; height: 50rem;}
    .about .visual .txt-visual03 {margin-top: 3rem; font-size: 2.4rem; line-height: 1.4167;}
    .about .about-article {margin-top: 8rem; flex-direction: column; gap: 4rem 0;}
    .about .about-article:nth-child(even) {flex-direction: column;}
    .about .about-article .img-area {width: 100%; height: auto;}
    .about .about-article .text-area {align-items: flex-start; justify-content: flex-start;}
    .about .about-article .text-area .text01 {font-size: 2.4rem;}
    .about .about-article .text-area .text02 {font-size: 3.2rem; line-height: 1.3125; margin-top: 1rem;}
    .about .about-article .text-area .text03 {font-size: 2.8rem; line-height: 1.429; margin-top: 3rem;}

    /* 회사소개 > 오시는 길 */
    .directions {margin-top: 10rem;}
    .directions .map-area {padding-top: 67.165%}
    .directions .map-info {margin-top: 5rem;}
    .directions .map-info dl + dl {margin-top: 4rem;}
    .directions .map-info dl dt {width: 21rem; gap: 0 2rem}
    .directions .map-info dl dt p {font-size: 2.8rem;}
    .directions .map-info dl dd p {font-size: 2.8rem;}
}