@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub {padding-top: 15rem; padding-bottom: 14rem;}

/* 서브 비쥬얼 */
.sub-title {text-align: center;}
.sub-title .tit01 {font-size: 1.6rem; letter-spacing: 0.2em; font-weight: 300; color: #CB0010; line-height: 1.25;}
.sub-title .tit02 {font-size: 5rem; font-weight: 700; line-height: 1.2; margin-top: 0.5rem;}
.sub-title .txt {font-size: 1.6rem; color: #666666; line-height: 1.25; margin-top: 2rem;}

.sub-visual.bg01{}

.sub-visual .tit-visual{}

.sub-visual .txt-visual{}

/* location */
.loc{  }
.loc ul{}
.loc ul li{}
.loc ul li + li{}
.loc ul li a{}
.loc ul li:first-of-type a{}
.loc ul li:last-of-type a{}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 고객센터 > 자주 묻는 질문 */
.faq .acc-wrap {margin-top: 5rem; border-top: 0.2rem solid #333333;;}
.faq .acc-wrap .acc-list {border-bottom: 1px solid #E0E0E0;}
.faq .acc-wrap .acc-list [data-click] {cursor: pointer;}
.faq .acc-wrap .acc-list .acc-tit {display: flex; align-items: flex-start; justify-content: flex-start; padding: 3rem 3.5rem; gap: 0 7rem;}
.faq .acc-wrap .acc-list .acc-tit::before {content: "Q"; color: #CB0010; font-size: 2.5rem; font-weight: 700; line-height: 1.134; flex: none;}
.faq .acc-wrap .acc-list .acc-tit .tit {font-size: 2rem; line-height: 1.4167;}
.faq .acc-wrap .acc-list .acc-cont {border-top: 1px solid #E0E0E0; background-color: #F7F7F7; padding: 3rem 3.5rem; overflow: hidden; display: none;;}
.faq .acc-wrap .acc-list .acc-cont::before {content: "A"; color: #CB0010; font-size: 2.5rem; line-height: 1.08; font-weight: 700; float: left; width: 1.8rem;}
.faq .acc-wrap .acc-list .acc-cont .txt {font-size: 1.8rem; margin-left: 7rem; float: left; width: calc(100% - 8.8rem)}
.faq .acc-wrap + .paging {margin-top: 11.5rem;}

/* 고객센터 > 문의하기 */
.inquiry {margin-top: 9rem;}
.inquiry .tit.v1 {margin-top: 5rem;}
.inquiry .tit.v1 + * {margin-top: 2rem;}
.inquiry .agree-feedback {margin-top: 2rem; display: flex; align-items: flex-start; justify-content: space-between;}
.inquiry .agree-feedback .btn {width: 25rem;}


@media screen and (max-width: 1024px) {
    /*-------------------------------------------------------------------
        @공통
    -------------------------------------------------------------------*/
    .sub {padding-top: 12rem; padding-bottom: 12rem;}

    /* 서브 비쥬얼 */
    .sub-title .tit01 {font-size: 2.4rem;}
    .sub-title .tit02 {font-size: 5.5rem; line-height: 1.182;}
    .sub-title .txt {font-size: 2.8rem; line-height: 1.358;}

    /*-------------------------------------------------------------------
        @메뉴명
    -------------------------------------------------------------------*/
    /* 고객센터 > 자주 묻는 질문 */
    .faq .acc-wrap {margin-top: 8rem;}
    .faq .acc-wrap .acc-list .acc-tit {padding: 3rem 2rem; gap: 0 2rem;}
    .faq .acc-wrap .acc-list .acc-tit::before {line-height: 1.36;}
    .faq .acc-wrap .acc-list .acc-tit .tit {font-size: 2.4rem; line-height: 1.4167;}
    .faq .acc-wrap .acc-list .acc-cont {padding: 3rem 2rem;}
    .faq .acc-wrap .acc-list .acc-cont::before {line-height: 1.2;}
    .faq .acc-wrap .acc-list .acc-cont .txt {font-size: 2.2rem; margin-left: 2rem; width: calc(100% - 3.8rem)}
    .faq .acc-wrap + .paging {margin-top: 15rem;}

    /* 고객센터 > 문의하기 */
    .inquiry .agree-feedback {margin-top: 3rem; flex-direction: column; gap: 6rem 0;}
    .inquiry .agree-feedback .btn {width: 100%;}
}