@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : 컨텐츠 스타일
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
.sub {padding-top: 15rem; padding-bottom: 14rem;}

/* 서브 비쥬얼 */
.sub-title {text-align: center;}
.sub-title .tit01 {font-size: 1.6rem; letter-spacing: 0.2em; font-weight: 300; color: #CB0010; line-height:; 1.25;}
.sub-title .tit02 {font-size: 5rem; font-weight: 700; line-height: 1.2; margin-top: 0.5rem;}
.sub-title .txt {font-size: 1.6rem; color: #666666; line-height: 1.25; margin-top: 2rem;}

.sub-visual.bg01{}

.sub-visual .tit-visual{}

.sub-visual .txt-visual{}

/* location */
.loc{  }
.loc ul{}
.loc ul li{}
.loc ul li + li{}
.loc ul li a{}
.loc ul li:first-of-type a{}
.loc ul li:last-of-type a{}

/*-------------------------------------------------------------------
    @메뉴명
-------------------------------------------------------------------*/
/* 서브메뉴명 > 화면명 */